[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = git://github.com/zsh-users/zsh-autosuggestions.git
[submodule "enhancd"]
	path = enhancd
	url = git://github.com/b4b4r07/enhancd.git
[submodule "oh-my-zsh/custom/plugins/enhancd"]
	path = oh-my-zsh/custom/plugins/enhancd
	url = git://github.com/b4b4r07/enhancd.git
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = git://github.com/romkatv/powerlevel10k.git
